<h1>Live Status</h1>

TODO: <br>
- Edit - the conf file for domain. <br>
- Delete - removes domain from domain.config.json <br>
- Run - executes command line program job for this domain <br>
- Add new - sends you to the source page to add a new pipeline <br>
- Show animated progress bar for active data pipelines. To do this we need to get status from either Oozie or Kafka broker<br>
- Notification - like this in top right hand corner see "Welcome" in http://wrapbootstrap.com/preview/WB0R5L90S
- Show when pipeline finished.
- Show last updated date time.

<my-pipelines></my-pipelines>
